#* {
 # box-sizing: border-box;
#}
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("womenspeaker-1200x604.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #4CAF50;
}

.topnav a.active {
  color: gray;
}

.topnav-right {
  float: right;
  position:relative;
    top: -25px;
    left: -150px;
  font-weight:600;
}



.heading{
  position:relative;
  left: 400px;
top: 35px;
color: white;
font-size: xx-large;

}

.para_heading{
  position:relative;
  left: 400px;
  color:white;
  font-size:40px;
  top: 250px;
  font-weight: 900;

}

.paragraph{
  position:relative;
  left: 400px;
  color:white;
  top:250px;
  font-size: 20px;
  font-weight: 700;

}

.button {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:30px;
    padding-right:30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:600;
    border-radius: 50px;
    cursor: pointer;
}

.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:30px;
    padding-right:30px;
    margin-top:20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position:relative;
  font-size: 20px;
  font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    width: auto;
}

hr{
    width: 70px;
position: relative;
left: -200px;
top: -20px;
color: #4CAF50;
height: 5px;

}

input[type=text],input[type=date],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.cancelbtn2, .signupbtn {
  float: left;
  width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cancelbtn2{
    padding: 14px 20px;
    background-color: #f44336;
}
